.main {

    display: block;
    padding-bottom: 67px;

    .logo {
        position: absolute;;
        top: 16px;
        left: 5px;
        width: 160px;
      }
    
    
    .green-font {
        height: 200%;
    width: 80%;
    margin-left: 20%;
    margin-top: -20%;
    background-color: #7AF395;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: fixed;
    .close {
        position: fixed;
        top: 40px;
        right: 35px;
        background-image: url(/assets/img/croix-noir.png);
        background-size: 23px;
        background-repeat: no-repeat;
        width: 25px;
        height: 26px;
        cursor: pointer;
    }
    }

    .text-content {

        background-color: transparent;
        width: 75%;
        position: relative;
        top: 67px;
        left: 80px;
        padding-bottom: 67px;

        .lehr {
            width: 41%;
            background-color: black;
            height: 2px;
            border: none;
            margin-bottom: 24px;
        }

        .photo-container {
            margin-left: 22%;
            width: 100%;
        
        .cadre-photo {
            display: inline-block;

            p {
                text-align: center;

                i {
                    display: block;
                    font-size: 0.8em;
                }
            }
            
        }
        .photo {
            width: 200px;
            height: 200px;
        }
    }
        .infos {

            margin-left: 29%;

            h3 {
                text-align: center;
            }
        }
    }
}