<div class="main">
  
    <div class="green-font">
        <a class="close" [routerLink]="['/']"></a>
    </div>
    <div class="text-content">
        <h1>À propos</h1>
        <div class="infos">
          <h3> Smached, qu’est ce que c’est ? </h3>
          <hr class="lehr">
          <div>
              C’est la carte interactive regroupant tous les Faits Divers par ville, en temps réel et cela à l'échelle nationale.       
          </div>
          <div>
              Notre site dispose d’un système de filtrage innovant qui vous permettra de rechercher précisément les faits divers qui ont eu lieux près de chez vous.<br><br>
              Prêts à découvrir ce qu’il se passe près de chez vous ? 
          </div>
          <h3> Qui sommes nous ?</h3>
          <hr class="lehr">
        </div>
        <div class="photo-container">
          <div class="cadre-photo">
            <img class="photo" src="assets/img/photos/sami.png"/>
            <p> Sami <b>NACERI</b> <i> Marketing</i></p>
           
          </div>
          <div class="cadre-photo">
              <img class="photo" src="assets/img/photos/blahak.png"/>
              <p>Jerémy <b>BLAHAK</b><i> Design</i></p>
            </div>
            <div class="cadre-photo">
                <img class="photo" src="assets/img/photos/camille.png"/>
                <p>Camille <b>SABATIER</b><i> Design</i></p>
              </div>
              <div class="cadre-photo">
                  <img class="photo" src="assets/img/photos/soufian.png"/>
                  <p>Soufian <b>AIT TIRITE</b><i> Développement</i></p>
                </div>
                <div class="cadre-photo">
                    <img class="photo" src="assets/img/photos/redha.png"/>
                    <p>Redha <b>AISSAOUI</b><i> Développement</i></p>
                  </div>
        </div>
      </div>
</div>