
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="map-position">
    <agm-map [zoom]="6"  [minZoom]="3" [latitude]="defaultlat" [longitude]="defaultlng" style="height: 100vh;" [styles]="customStyle">
        <agm-marker *ngFor='let position of positions' [latitude]="position.lat" [longitude]="position.lng">
          <agm-info-window>Test</agm-info-window>
        </agm-marker>
      </agm-map>
      
</div>
