<div class="menu-style transform">
  <ul class="categories">
    <li *ngFor="let category of categories" keyword="category.nom" (click)="clickCategory(category)" [ngClass]="{ 'selected': active == category}" [routerLink]="['/map/',category.nom]">{{category.nom}}</li>
  </ul>
  <div class="test">
    <div class="line"></div>
      <ul *ngIf="subcategories" class="sous-categories">
        <li *ngFor="let category of subcategories" keyword="homicides" [ngClass]="{ 'selected': active == category}" [routerLink]="['/map/',category.nom]">{{category.nom}}</li>
      </ul>
    <div >
        <input id="searchbar" type="text" />

    </div></div>

  <div>
    <a class="hide left" [routerLink]="['/mentionslegales']">Mentions légales</a>
    <a class="fleche" (click)="clicked()"></a>
    <a class="hide right" [routerLink]="['/apropos']">A propos</a></div>
</div>
