<div class="menu-style transform">
  <ul class="categories">
    <li>Crimes</li>
    <li>Accidents</li>
    <li>Incendie</li>
    <li>Drogues</li>
    <li>Insolite</li>
  </ul>
  <div class="test">
    <div class="line"></div>  <ul class="sous-categories">
        <li>Homicides</li>
        <li>Enquêtes</li>
        <li>Fussiades</li>
        <li>Drogues</li>
        <li>Enlevements</li>
        <li>Braquages</li>
        <li>Séquestrations</li>
        <li>Prostitution</li>
        <li>Armés</li>
      </ul>
    <div >
        <input id="searchbar" type="text" />

    </div></div>

  <div><a class="hide left">Mentions légales</a><a class="fleche" (click)="clicked()"></a><a class="hide right">A propos</a></div>
</div>
