<div class="menu-style transform">
  <ul class="categories">
    <li *ngFor="let category of categories.value" keyword="category.nom">{{category.nom}}</li>
    <!-- <li keyword="crimes">Crimes</li>
    <li keyword="accidents">Accidents</li>
    <li keyword="incendie">Incendie</li>
    <li keyword="drogues">Drogues</li>
    <li keyword="insolite">Insolite</li> -->
  </ul>
  <div class="test">
    <div class="line"></div>  <ul class="sous-categories">
        <li keyword="homicides">Homicides</li>
        <li keyword="enquêtes">Enquêtes</li>
        <li keyword="fusiades">Fusiades</li>
        <li keyword="drogues">Drogues</li>
        <li keyword="enlevements">Enlevements</li>
        <li keyword="braquages">Braquages</li>
        <li keyword="séquestrations">Séquestrations</li>
        <li keyword="prostitution">Prostitution</li>
        <li keyword="armés">Armés</li>
      </ul>
    <div >
        <input id="searchbar" type="text" />

    </div></div>

  <div><a class="hide left">Mentions légales</a><a class="fleche" (click)="clicked()"></a><a class="hide right">A propos</a></div>
</div>
