.menu-style {

    width: 50%;
    height: 80px;
    position:fixed;
    background-color: #7AF395;
    border-top-left-radius: 42px;
    border-top-right-radius: 42px;
    position: absolute;
    bottom: 0px;
    
    margin-left: 25%;

    div {
        text-align: center;
        
        a.fleche {
            position: fixed;
            bottom:3px;
            background-image: url('/assets/img/croix.png');
            background-size: 17px;
            background-repeat: no-repeat;
            width: 25px;
            height:26px;
            cursor:pointer;
        }

        a.hide {
            display:none;
        }
        a.visible {
            display: inline;
            color: #022712;
            font-weight:bold;
            position: absolute;
            bottom:25px;
            cursor:pointer;
        }

        .left {
            left: 50px;
        }

        .right {
            right: 50px;
        }
    }
    
}

.test {
    display:none;

    .sous-categories {

        text-align: center;
        margin-left: 0;
        padding-left: 0;
        width: 80%;
        margin-left: 10%;
    
        li {
            display: inline-block;
            margin: 5px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            color: #022712;
            font-size: 1.2em;
            border: 1px solid black;
            padding: 5px 18px 5px 18px;
            border-radius: 25px;
            margin-top: 13px;
            cursor:pointer;
            outline:none;
        }
        li:hover {
            color: #26903D;
            border: 1px solid #26903D;
        }
    }
    input {
        padding: 10px;
        border: none;
        border-radius: 25px;
        font-weight: 100;
        padding-left: 45px;
        font-size: 1.1em;
        width: 30%;
        margin: 15px;
        background-image: url(/assets/img/loupe.png);
        background-repeat: no-repeat;
        background-position: 3%;
        background-size: 25px;
        }
}

.test-hide {
    display: block;
}

.line {
    width: 89%;
    margin-left: 5%;
    height: 18px;
    border-bottom: 3px solid white;
}
.transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
  }
  
  .transform-active {
    height: 350px;

    div {
        text-align: center;
        
        a.fleche {
            position: fixed;
            bottom:13px;
            background-image: url('/assets/img/bas.png');
            background-repeat: no-repeat;
            width: 25px;
            height:26px;
            cursor:pointer;
        }
    }
  }

.categories {

    text-align: center;
    margin-left: 0;
    padding-left: 0;

    li {
        display: inline-block;
        margin: 5px;
        margin: 30px;
        padding-bottom: 3px;
        margin-bottom: 0;
        margin-top: 0;
        color: #022712;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 120%;
        cursor:pointer;
        outline:none;
    }
    li:hover {
        color: #26903D;
        border-bottom:2px solid #26903D;
    }

    li.selected {
        color: #26903D;
        border-bottom:2px solid #26903D;
    }

} 

