/* You can add global styles to this file, and also import other style files */
body {
    padding: 0 !important;
    margin:0 !important;
    font-family: 'Montserrat', sans-serif;

}

.gmnoprint a, .gmnoprint span {
    display:none;
  }
  .gmnoprint div {
    background:none !important;
  }
  #GMapsID div div a div img{
    display:none;
  }

  div[style^="cursor"] {
    width: 171px !important;
    background-color: transparent;
    }
    div[style^="display"] {
      width: 237px !important;
      height: 200px !important;
      background-color: transparent;
      border-radius: 10px !important;
    }
    div[style^="cursor"] > div > div[style^="position"] {
      width: 170px !important;
      height: 218px !important;
      background-color: white !important;
      border-radius: 10px !important;
      margin-top: 15px;
    }
    .gm-ui-hover-effect {
      top: 11px !important;
    }

    
    .gm-style-iw {
      width: 171px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: transparent;
    }

  